body{
    background-color:#262626;
}

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-brand{
    margin-left:15px;
}

.nav-item{
    padding-left:10px;
    padding-right:10px;
}

#Title{
    color:#cccccc;
    font-size:35px;
}

#icon-image{
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image-container{
    height:40px;
    width:40px;
    border-radius:20px;
}

.content{
    height:10000px;
}
