body{
    background-color:#262626;
}

.navbar {
    height:60px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-brand{
    margin-left:15px;
}

.nav-item{
    padding-left:10px;
    padding-right:10px;
}

#Title{
    color:#cccccc;
    font-size:35px;
}

#icon-image{
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image-container{
    height:40px;
    width:40px;
    border-radius:20px;
}

.homepage-content-wrapper{
    padding-top:50px;
}

.homepage-main-body{
    padding-top:100px;
}

.homepage-text{
    max-width:600px;
}

.homepage-container > .main-title{
    font-size:50px;
    padding-bottom: 10px;
}

.homepage-container > .subtitle{
    font-size:20px;
}

.main-body-text{
    color:#e5e5e5;
}

.main-body-button{
    width:150px;
    height:45px;
}
