.about-main-body{
    height: 600px;
}

.jumbotron {
    background-image: url(../images/EiffelTowerNoBackground.png);
    background-size: cover;
    height: 100%;
}

.profiles{
    padding-top:100px;
    padding-left:50px;
    padding-right:50px;
}

.about-profiles-subtext{
    font-size:60px;
    text-align:center;
}

.profiles-container{
    padding-top:25px;
}

.card-text{
    color:#4c4c4c;
}