/* Colors and fonts */
.main-theme{
    background-color:#262626;
    color:#e5e5e5;
}

.main-button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.main-content-wrapper{
    padding-top:50px;
    padding-bottom:70px;

}

.main-title{
    font-size:50px;
    padding-bottom: 10px; 
}

/* Styling for nav bar */
.navbar {
    height:60px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-brand{
    margin-left:15px;
}

.nav-item{
    padding-left:10px;
    padding-right:10px;
}

#Title{
    color:#cccccc;
    font-size:35px;
}

#icon-image{
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End Styling for nav bar */

/* Footer styling */
.page-footer{
    background-color:#343a40;
}

.footer-copyright{
    background-color:#2d3236;
    color:#a6a6a6;
}

.footer-content{
    color:#a6a6a6;
}
/* End footer styling */