/* Colors and fonts */
.main-theme{
    background-color:#262626;
    color:#e5e5e5;
}

.main-button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.main-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.main-content-wrapper{
    padding-top:50px;
    padding-bottom:70px;
}

.main-sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.main-sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .main-sidebar {
        margin-left: -250px;
    }
    .main-sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.main-sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

.main-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.main-sidebar ul p {
    color: #fff;
    padding: 10px;
}

.main-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.main-sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.main-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* Styling for nav bar */
.navbar {
    height:60px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-brand{
    margin-left:15px;
}

.nav-item{
    padding-left:10px;
    padding-right:10px;
}

#Title{
    color:#cccccc;
    font-size:35px;
}

#icon-image{
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End Styling for nav bar */

/* Footer styling */
.page-footer{
    background-color:#343a40;
}

.footer-copyright{
    background-color:#2d3236;
    color:#a6a6a6;
}

.footer-content{
    color:#a6a6a6;
}
/* End footer styling */